packages/
ImageCarousel.sln
ImageCarousel/bin/
**/bin/Debug/
**/bin/Release/
**/App_Data/
**/Content/
**/fonts/
**/images/
**/obj/
**/packages/
**/Properties/
**/Randomizer/
**/Scripts/
*.ico
ImageCarousel/Web.Debug.config
ImageCarousel/Web.Release.config
ImageCarousel/packages.config
*.asax
**/.vs/
*.asax.cs
*.csproj
*.csproj.user
