@{
    ViewBag.Title = "Index";
}



<div>
    <div>
        @{
            var data = ViewBag.Message;
            
            <img src="@data" width="1200" height="800" align ="middle"/>
        }
    </div>
</div>