@{
    ViewBag.Title = "Index";
}

@model ImageCarousel.Models.ImageModel

<div>
    <div>
        @{
            string source = ImageCarousel.Models.ImageModel.randompath;
            <img src="@source" width="100%" align ="middle"/>
        }
    </div>
</div>